

@font-face {
    font-family: customCoreSans;
    src: url('../assets/fonts/CoreSansD45Medium.otf');
   
  }
.main__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    font-family: customCoreSans;
    min-height: 100vh;

    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

        
.users__list__container{
    
    min-height: 100px;
    background-color: white;
    width: 529px;
    border-radius: 5px;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .users__list__container__title{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        // font-weight: 600;
        background-color: #F6F6F6;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .users_list{
        background-color: white;
        height: 392px;
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        .user_list_item{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #E2E2E2;
            padding: 10px 0px;
           cursor: pointer;
            .user_profile_icon{
                height: 27px;
                width: 27px;
                border-radius: 50%;
                margin-right: 11px;
            }
        }
    }
}
}