$darkcolor: #545454;
$lightcolor: #9A9A9A;
$bordercolor: #E1E1E1;
$lightfont:#AEAEAE;

@font-face {
    font-family: customCoreSans;
    src: url('../assets/fonts/CoreSansD45Medium.otf');
    // font-weight: bold;
  }
  
.profile__details__container{
    display: flex;
    align-items: flex-start;

    font-family: customCoreSans;
    letter-spacing: 0.5px;


    .profile__details__left__container,.profile__details__right__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 150px;

        .user__details__container{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-end;
    
           
            table{
                width: 80%;
            }
            .user__info__stat{
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;
    
                .flex__column{
                    flex-direction: column !important;
                }
                .user_stat_key{
                    color:$lightcolor;
                    // margin-right: 6px;
                    font-size: 18px;
                    font-weight: 400;
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                }
                .user_stat_value{
                    color: $darkcolor;
                    font-size: 18px;
                    font-weight: 600;
                    width: 80%;
                    display: flex;
                    justify-content: flex-start;
                    max-width: 200px;
                }
                .separator{
                    margin-left: 10px;
                    margin-right: 10px;
                    color: $lightfont;
                }
            }
            .section__end{
                width: 65%;
                border-bottom: 1px solid $bordercolor;
                
                margin: 5px 0px;
                margin-bottom: 10px;
                position: relative;
                margin-left: auto;
                margin-right: auto;
    
            }
        }

    }
    

    .profile__details__left__container{
        width: 37%;
        border-right: 1px solid $bordercolor;

        .user__profile__pic{
            height: 180px;
            width: 180px;
            border-radius: 50%;
        }
        .user__company{
            color: $lightfont;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 5px;
        }
        .user__name{
            color: $darkcolor;
            font-size: 19px;
            font-weight: 600;
            margin: 11px 0px 9px 0px;
        }
        
    }
    .profile__details__right__container{
        flex: 1 ;

        .user__details__container{
            width: 87%;
            align-items: flex-start;
        }
        .user_stat_key{
            width: 85px !important;
        }
        .user__address{
            color: $lightfont;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 5px;
            // margin-left: 45px;
        }
        .user__address__location{
            border: none;
            border-radius: 25px;
        }
        .iframe__container{
            width: 100%;
        }
    }
}

.profile__modal__container{

    font-family: customCoreSans;
    cursor: default;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 285px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    background-color: white;
    border-radius: 25px;

    .profile__pic__container{
        margin-top: 35px;
        margin-bottom: 5px;

        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;

        }
      
    }
    .profile__username{
        color: $darkcolor;
        font-size: 16px;
        margin-bottom: 5px;
        
    }
    .profile__email{
        color: $lightfont;
        font-size: 15px;
        
    }
    .profile__signout{
        background-color: #D55151;
        border-radius: 25px;
        color: white;
        display: flex;
        justify-content: center;
        font-weight: 500;
        width: 90px;
        height: 35px;
        align-items: center;
        margin-top: 20px;
        cursor: pointer;
    }
    .profile__users__list{
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .user__pic{
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .profile__user{
        border-top: $bordercolor 1px solid;
        padding: 11px 0px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    cursor: pointer;
    }
    }

}



.navbar__container{

    font-family: customCoreSans;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    position: relative;
    border-bottom: 1px solid $bordercolor;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;

    .user__profile{
        
        padding: 11px 0px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    position: relative;
    cursor: pointer;

    .user__pic{
        width: 27px;
        height: 27px;
        border-radius: 50%;
        margin-right: 10px;
    }
   
    }
    .selected__page{
        color: $darkcolor;
        font-size: 19px;
        font-weight: 500;
    }
    .profile__popup{
        position: absolute;
        top: 50px;
        right: 0px;
    }
}

.coming__soon__container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: customCoreSans;
    .coming__soon__title{
        color: #EEEEEE;
        font-size: 86px;
        font-weight: 800;
    }
}



.chat__box__container{

    width: 230px;
    position: absolute;
    bottom: 0px;
    right: 60px;
    
    font-family: customCoreSans;
.chatbox__header{

    height: 45px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-left: auto;
    background-color: #2C65C8;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .chatbox__open{
        margin-right: 14px;
        rotate: 90%;
        transform: rotateZ(90deg);
        font-weight: 800;
        cursor: pointer;
    }
    .chatbox__close{
        margin-right: 14px;
        rotate: 90%;
        transform: rotateZ(270deg);
        font-weight: 800;
        cursor: pointer;
    }
    .chatbox__header__title{
        display: flex;
        align-items: center;
        margin-left: 14px;
        cursor: pointer;
    }

    img{
        height: 23px;
        width: 23px;
        margin-right: 10px;

    }
}
    .available__users__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 355px;
        border: 1px solid #2C65C8;
        border-bottom: none;
        background-color: white;
        // overflow-y: scroll;
        .user__pic{
            width: 27px;
            height: 27px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .profile__user{
            
            padding: 5px 0px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;

        .profile__detail{
            display: flex;
            align-items: center;
        }
        .user{
            height: 7px;
            width: 7px;
            border-radius: 50%;
            border: none;
        }
        .online{
            background-color: #1EA858;
        }
        .offline{
            background-color: #D5D5D5;
        }

        }
    }
}

@media only screen and (max-width: 1130px) {
    
    .profile__details__container{
        flex-direction: column;

        .profile__details__left__container{
            width: 100%;
            border-right: none;
            border-bottom: 1px solid $bordercolor;
            margin-bottom: 25px;
        }
        .profile__details__right__container{
            width: 100%;
            .user__details__container{
                align-items: center;
            }
        }
        .user__details__container{
            align-items: center !important;
        }
    }
  }